head
  include head.pug
  body    
    include profilenav.pug
    div.feedcontainer
      - for (var i = databaseDATA.length - 1; i >= 0; --i) {
        
        div.maincontainer
          div.userimage
            img(class="userimage" src="images/sample.jpg")
          div.username
            h3= databaseDATA[i].username
          div.postimagecontainer
            img(class="postimage" src="images/sample.jpg")
          div.postlikecontainer
            i(class="fa fa-heart fa-2x" aria-hidden="true")
            i(class="fa fa-comment fa-2x" aria-hidden="true")
            input(class="commentinput" placeholder="Enter your comment")
          div.captioncontainer
            span.captiontext Lester #coffeeshop
          div.commentbox
            ul
              li.commenttext John i hate this place
            ul
              li.commenttext Nate i Love NYCDA coffee
            ul
              li.commenttext Jovan i love this place
            
      - }
      
          

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
