head
  include head.pug
  body    
    include profilenav.pug
    div.feedcontainer
        div.maincontainer
          div.userimage
            img(class="userimage" src="images/sample.jpg")
          div.username
            span.captiontext
              // h3= postData[i].username
            
          div.postimagecontainer
            img(class="postimage" src="/public/uploads/myImage-1508975054036.JPG")
          div.postlikecontainer
            i(class="fa fa-heart fa-2x" aria-hidden="true")
            i(class="fa fa-comment fa-2x" aria-hidden="true")
            form(action='/commentsubmit' method='POST')
              input(class="commentinput" name="textarea" placeholder="Enter your comment")
              input(class="submitinput" type="submit")
            
          div.captioncontainer
            // span.captiontext= postData[i].username
            // span.captiontext= postData[i].description
          // div.commentbox
          //   ul
          //   - for (var i = commentData.length - 1; i >= 0; --i) {
          //       li.commenttext=commentData[i].text
          //   - }  

      
          

  script(src="/js/main.js")
  //- script(src="/js/bootstrap.js")
