head
  include head.pug
  body    
    include nav.pug
    div.feedcontainer
      div(class="maincontainer" style="background: red;")
      img(class="icon" src="../assets/logo.PNG")  
          
  script(src="/js/main.js")
  //- script(src="/js/bootstrap.js")
