head
  include head.pug
  body    
    include nav.pug
    div.feedcontainer
      div(class="maincontainer" style="background: red;")
        form(class="registerForm")
          input(placeholder="Choose Username")
          br  
          input(placeholder="Choose Password")
          br  
          input(type="submit")
        
          

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
