head
  include head.pug
  body    
    include profilenav.pug
    div.feedcontainer
      div.maincontainer
        div(id="deletedialog")
        div.profileimagecontainer
          center
            img(class="myprofileimage" src="images/profile.jpg")
        div.profilecontainer This is your profile info
        //- h3= result.username
        //- div.profilecontainer
        //-   - for (var i = result.length - 1; i >= 0; --i) {
        //-         p= result[i].username
        //-         p= result[i].id
        //-         p= result[i].profilepic
        //-   - }
        //- h1= rows.username
        div.userpost
            ul.userpostUL
              li image one
              li image one
              li image one
              li image one
              li image one
              li image one
              li image one
              li image one
            
      

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
