head
  include head.pug
  body    
    include nav.pug
    div.addpostForm
      form(action='/register' method='POST')
        input(type='text' placeholder="Username" name="username" id="id")
        input(type='password' placeholder="Password" name="password" id="body")
        //- input(type='text' placeholder="bodytext" name='bodytext')
        //- input(type='text' placeholder="image" name='image')
        button(type='submit') Submit
        h3= error
        
          

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
