head
  include head.pug
  body    
    include nav.pug
    div.feedcontainer
      div(class="maincontainer" style="background: red;")
        form(method="post" action="/submit" class="registerForm")
          input(name="username" placeholder="Choose Username")
          br  
          input(name="password" placeholder="Choose Password")
          br  
          input(type="submit")
        
          

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
