head
  include head.pug
  body    
    include nav.pug
    div.addpostForm
      form(action='/submit' method='POST')
        input(type='text' placeholder="Title" name="username" id="id")
        input(type='text' placeholder="Body" name="password" id="body")
        //- input(type='text' placeholder="bodytext" name='bodytext')
        //- input(type='text' placeholder="image" name='image')
        button(type='submit') Submit
        
          

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
