head
  include head.pug
  body    
    include nav.pug
    div.feedcontainer
      form
        input(placeholder="Choose Username")
        input(placeholder="Choose Password")
        input(type="submit") Submit
        
          

  script(src="/js/main.js")
  script(src="/js/bootstrap.js")
